/*
  A blue based theme, inspired by Blinksale and their ColorBurn widget. http://firewheeldesign.com
  
  AUTHOR: Geoffrey Grosenbach http://nubyonrails.com
  
  Colors: 
    Light Blue: bbccff 
    White: eeddee
    Turq: 003355
    Cream: ffffdd
*/

.calendar {
    margin: auto;
    width: 100%;
}

.monthName th {
    font-weight: normal;
    text-align: right;
    padding-top: 1em;
    padding-bottom: 0.7em;
}

.dayName th {
    font-size: 0.7em;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    background-color: #303030;
    color: white;
    width: 180px;
}

.day, .specialDay {
    text-align: center;
    border-bottom: 1px dotted #bbbbbb;
    background-color: #bbccff;
}

.weekendDay {
    background-color: #ffffdd;
}

.otherMonth, .day, .specialDay {
    border-right: 1px solid white;
    border-bottom: 1px dotted #bbbbbb;
}

.otherMonth {
    color: #eeeeee;
    background-color: #dddddd;
}

.specialDay {
    background-color: #003355;
    color: white;
}

.specialDay a, .specialDay a:visited, .specialDay a:hover {
    color: white;
    text-decoration: none;
}

.specialDay a:hover {
    color: white;
    background-color: black;
}

.today{
    background-color: #4682b4;
}

.code, .code a:visited {
    color: white;
    background-color: #4682b4;
}

.daygrid td {
    color: blue;
}

.gridtotal td {
    border-top: 1px solid black;
    color: blue;
}

.daygrid td#normal {
    color: #ff00ff;
}

.daygrid td#rate2 {
    color: green;
}

.daygrid td#rate3 {
    color: blue;
}

.daygrid td#travel {
    color: #333333;
}

.innercode {
    background-color: #4682b4;
    min-height: 5em;
    height: auto;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 0pt;
    margin-top: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
}

.inner {
    min-height: 5em;
    height: auto;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 0pt;
    margin-top: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 5pt;
}

.gday {
    float: right;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0pt;
    padding-left: 0.25em;
    margin-top: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    background-color: #f3f3f3;
    border-top-style: solid;
    border-right-style-value: solid;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-bottom-style: solid;
    border-left-style-value: solid;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-top-color: gray;
    border-right-color-value: gray;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-bottom-color: gray;
    border-left-color-value: gray;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-top-width: 0pt;
    border-right-width-value: 0pt;
    border-bottom-width: 1px;
    border-left-width-value: 1px;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    clear: both;
    width: 1.5em;
}
