<table class="topmenu" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td><%= link_to 'Menu', :controller => 'welcome' %></td>
<td><%= link_to 'Tips', tips_path %></td>
<td><%= link_to 'Edit', edit_tip_path(@tip) %></td>
</tr>
</tbody>
</table>

 <p>
<table align="center" cellspacing=2>
<tr bgcolor="black"><th><font color="white">Tip</font></th></tr>
<tr>
  <td><%=h @tip.text %></td>
</tr>
</table>


