body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   8px;
  line-height: 13px;
}

.topmenu {
    display:none;
}

.notice {
    display:none;
}

a:link, a:visited {
    text-decoration: none;
}
